<footer class="blibli-footer">
    <div class="container-f">
      <div class="footer-content">
        <div class="footer-logo">
          <!-- Your logo goes here -->
          <img src="images/logo-e.svg" alt="Your Logo">
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="\">หน้าหลัก</a></li>
            <li><a href="/product">สินค้า</a></li>
            <li><a href="/contack">ติดต่อ</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <!-- Your social media icons go here -->
          <a href="https://web.facebook.com/profile.php?id=61550041646622"><img src="images/facebook-svgrepo-com.svg" alt="Facebook"></a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 TINNY SHOP. All rights reserved.</p>
      </div>
    </div>
  </footer>