<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สมัครสมาชิก</title>
    <link rel="shortcut icon" href="images/NLYY.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/singup.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.2.0/dist/sweetalert2.min.css">
</head>
<body>
    <div class="container-singup">
        <div class="content-singup">
            <h2>สมัครสมาชิกแอดมิน</h2>
            <form action="/readmin" method="POST">
                <label for="username">ชื่อผู้ใช้ :</label>
                <input type="text" name="usernameadmin" id="username">

                <label for="email">อีเมล :</label>
                <input type="email" name="emailadmin" id="email" required>

                <label for="password">รหัสผ่าน :</label> 
                <input type="password" name="passwordadmin" id="password">

                <input type="submit" value="สมัครสมาชิก">
            </form>
            <p>เข้าสู่ระบบในนามแอดมิน <a href="/admin/lo">เข้าสู่ระบบ</a></p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.2.0/dist/sweetalert2.all.min.js"></script>
</body>
</html>