<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เข้าสู่ระบบ</title>
    <link rel="shortcut icon" href="images/NLYY.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/singin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.2.0/dist/sweetalert2.min.css">
</head>
<body>
    <div class="container-singup">
        <div class="content-singup">
            <h2>เข้าสู่ระบบ</h2>
            <form action="/login" method="post">
                <label for="username">ชื่อผู้ใช้ :</label>
                <input type="text" name="username">

                <label for="password">รหัสผ่าน :</label>
                <input type="password" name="password">

                <input type="submit" value="เข้าสู่ระบบ">

                <p>หรือคุณมีบัญชีแล้ว <a href="/auth/singup">สมัครสมาชิก</a></p>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.2.0/dist/sweetalert2.all.min.js"></script>
</body>
</html>