<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ระบบหลังบ้าน</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <header>
        <div class="logo">
            <h2>หลังบ้าน TINNY SHOP</h2>
        </div>
        <div class="menu-left">
            <p>Admib :<span><%= user.username %></span></p>
        </div>
    </header>

   <div class="boxadmin-container">
    <div class="analitiy">
        <div class="box-1">
            <h2>จำนวนสมาชิก</h2>
            <p><%= count %> คน</p>
        </div>
        
    </div>
    <dib class="admin-box">
        <button><a href="/manage">จัดการสินค้า</a></button>
        <button><a href="/add-product">เพิ่มสินค้า</a></button>
        <button><a href="/show-contack">ดูการตอบกลับ</a></button>
        <button id="logout"><a href="/logoutadmin">ออกจากระบบ</a></button>
    </dib>
   </div>
</body>
</html>