<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แก้ไขสินค้า</title>
    <link rel="stylesheet" href="/css/form-edit-product.css">
</head>
<body>
    <div class="container-form-edit-product">
        <div class="content-edit-form">
            <h2>แก้ไขสินค้า</h2>
            <form action="/update-product" method="POST">
                <input type="hidden" name="update_id" value="<%= product._id %>">
                <label for="nameproduct">ชื่อสินค้า</label>
                <input type="text" name="nameproduct" value="<%= product.nameproduct %>">

                <label for="price">ราคาสินค้า</label>
                <input type="number" name="price" value="<%= product.price %>">

                <label for="linkproduct">ลิ้งสินค้า</label>
                <input type="text" name="linkproduct" value="<%= product.linkproduct %>">

                <input type="submit" value="แก้ไขสินค้า">
            </form>
        </div>
    </div>
</body>
</html>