<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สินค้าทั้งหมด</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="shortcut icon" href="images/NLYY.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <%-  include('nav') %>

    <section class="pd-1">
      <h2>สินค้าทั้งหมด</h2>
      <div class="products-rows" id="productCarousel">
        <div class="product">
            <div class="img-product">
                <img src="images/p1.gif" alt="ภาพสินค้า  1">
            </div>
            <h2 class="name-product">สินค้า 1</h2>
            <p class="price">220 บาท</p>
            <button class="onder">ส่งซื้อสินค้า</button>
        </div>
  
        <div class="product">
            <div class="img-product">
                <img src="images/p1.gif" alt="ภาพสินค้า  1">
            </div>
            <h2 class="name-product">สินค้า 1</h2>
            <p class="price">220 บาท</p>
            <button class="onder">ส่งซื้อสินค้า</button>
        </div>
  
        <div class="product">
            <div class="img-product">
                <img src="images/p1.gif" alt="ภาพสินค้า  1">
            </div>
            <h2 class="name-product">สินค้า 1</h2>
            <p class="price">220 บาท</p>
            <button class="onder">ส่งซื้อสินค้า</button>
        </div>
  
        <div class="product">
            <div class="img-product">
                <img src="images/p1.gif" alt="ภาพสินค้า  1">
            </div>
            <h2 class="name-product">สินค้า 1</h2>
            <p class="price">220 บาท</p>
            <button class="onder">ส่งซื้อสินค้า</button>
        </div>
  
        <div class="product">
            <div class="img-product">
                <img src="images/p1.gif" alt="ภาพสินค้า  1">
            </div>
            <h2 class="name-product">สินค้า 1</h2>
            <p class="price">220 บาท</p>
            <button class="onder">ส่งซื้อสินค้า</button>
        </div>
  
    </div>
    </section>

    <footer class="blibli-footer">
        <div class="container-f">
          <div class="footer-content">
            <div class="footer-logo">
              <!-- Your logo goes here -->
              <img src="images/logo-e.svg" alt="Your Logo">
            </div>
            <div class="footer-links">
              <ul>
                <li><a href="\">หน้าหลัก</a></li>
                <li><a href="/product">สินค้า</a></li>
                <li><a href="/contack">ติดต่อ</a></li>
              </ul>
            </div>
            <div class="footer-social">
              <!-- Your social media icons go here -->
              <a href="https://web.facebook.com/profile.php?id=61550041646622"><img src="images/facebook-svgrepo-com.svg" alt="Facebook"></a>
            </div>
          </div>
          <div class="footer-bottom">
            <p>&copy; 2023 TINNY SHOP. All rights reserved.</p>
          </div>
        </div>
      </footer>
    <script src="/js/menu-icon.js"></script>
</body>
</html>