.container-f {
    width: 80%;
    margin: 0 auto;
  }
  
  .blibli-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo img {
    width: 100px; /* Adjust the width as needed */
  }
  
  .footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-links li {
    margin-right: 20px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-social a {
    margin-right: 10px;
  }
  
  .footer-social img {
    width: 30px; /* Adjust the width as needed */
  }
  
  .footer-bottom {
    margin-top: 10px;
    text-align: center;
  }

  @media screen and (max-width: 780px) {
    .container {
      width: 100%;
      padding: 0 20px;
    }
  
    .footer-content {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-links ul {
      margin-top: 15px;
      justify-content: center;
    }
  
    .footer-links li {
      margin: 0 10px;
    }
  }