body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2; /* สีเทาอ่อนๆ สำหรับพื้นหลัง */
}

.container-singup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-singup {
    background-color: #fff; /* สีขาว */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #008080; /* สีฟ้าเขียว */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #808080; /* สีเทา */
}

input {
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #008080; /* สีฟ้าเขียว */
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #006666; /* สีฟ้าเขียวเข้ม */
}

p {
    text-align: center;
    margin-top: 15px;
}

p a {
    color: #000; /* สีม่วง */
    text-decoration: none;
    border-bottom: 2px solid rgb(9, 86, 163);
}

a:hover {
    text-decoration: underline;
}
